/* body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background-color: white;
  }
  
  #root {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
  }
   */
  .trails-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .trails-text {
    position: relative;
    width: 100%;
    height:110%;
    line-height: 1.9;
    color: black;
    font-size: 3.5em;
    font-weight: 800;
    letter-spacing: -.9px;
    will-change: transform, opacity;
    overflow: hidden;
    padding:0;
    margin:0;
    margin-bottom:.9px;
  } 
  .trails-text a{
      margin:0px;
      padding:0px;
      line-height: 1.3;
      color:#060507;
  }
  .trails-text a p:hover{
      color:#6f00ff!important;
  }
  .trails-text > div {
    overflow: hidden;
  }
  